.buttonContainer {
  background-color: #0390ca;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
}

.text {
  font-size: 2rem;
  color: #fa9f28;
  padding: 0.7rem 1.2rem;
  text-shadow: 0px 0px 15px #f4f4f4;
}

.like {
  color: green;
}

.pass {
  color: red;
}
