.title {
  color: #f4f4f4;
  text-align: center;
  font-style: italic;

  font-size: 4rem;
  font-weight: 600;
  margin: 1rem;
}

.titleLP {
  margin-top: -0.5rem;
}

.like {
  color: green;
  text-shadow: -5px 5px 5px #0390ca;
}

.pass {
  color: red;
  text-shadow: -5px 5px 5px #0390ca;
}

.logo {
  max-width: 90%;
}
